<div th:fragment="kenguruName">
  <div class="row justify-content-center">
    <h1 style="
        /*position: absolute;*/
        width: 462px;
        height: 124px;
        /*left: calc(50% - 462px/2 + 40px);
        top: calc(50% - 124px/2 - 419px);*/
        background: url('/style/images/banner-2024869_1280.png') right 40px center no-repeat,
        url('/style/images/scale_1200.jfif') left 104px center no-repeat;
        background-size: 27% 100%, 33% 60%;
        background-color: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        ">KENGURU</h1>
  </div>
</div>